@mixin space-between{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-between;
}

@mixin big-text {
    color: $color-primary;
    font-family: $font-primary;
    font-size: $font-size-lg;
    font-weight: $font-Wt-primary;
}

@mixin stac-btn{
    color: $color-three;
    font-family: $font-primary;
    font-size: 14px;
    font-weight: $font-Wt-primary;
    margin-right: 6px;
    border-radius: 18px;
    background-color: $bg-primary;
    border: none;
    padding: 5px 15px;
}

@mixin link-svg{
    height: 16px;
    width: 16px;
    margin-left: 7px;
}