/*Colors*/

$color-primary: #FFFFFF;
$color-secondary:#94A3B8; 
$color-three: #49B0B2;

/*Background Colors*/

$bg-primary: #193653;

/*Font Family*/

$font-primary:'Inter', ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';

/*Font Size*/

$font-size-lg:3rem;
$font-size-md: 1.25rem;
$font-size-regular:1rem;

/*Font Weight*/

$font-Wt-primary: 700;
$font-Wt-secondary: 500;

/*Border Radius*/

$border-radius: 1.125rem;


/*Auto width*/

$section-w : 400px;